@tailwind base;
@tailwind components;
@tailwind utilities;

Global Font Styles
body {
    font-family: 'Muli', sans-serif;
    /* Body text font */
    background-color: #f0f8ff;
    /* Light blue background */
    color: #333333;
    /* Text color */
}

/* Headings */
h1,
h2,
h3 {
    font-family: 'Quicksand', sans-serif;
    /* Heading font */
    
    margin: 0 0 15px;
}

/* Paragraphs */
p {
    font-family: 'Muli', sans-serif;
    line-height: 1.6;
    margin: 0 0 15px;
}